
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://eaevinniix.github.io/Selo-Bem-Receber/imagens/imagem-formulario.png);
}

#enviar {
    background-color: #2b2b2b;
    color: white;
    padding: 10px 10px;
    cursor: pointer;
    width: 800px
}

.cartao {
    background-color: white;
    padding: 20px;
    text-align: center;
    width: 800px;
}
